<web-app>
    <servlet>
        <servlet-name>Default</servlet-name>
        <servlet-class>
            com.vaadin.cdi.server.VaadinCDIServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <url-pattern>/VAADIN/</url-pattern>
    </servlet-mapping>
</web-app>